# CODEOWNERS — all changes require review from the Project-Metic engineering team.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
*   @Project-Metic/engineers
